@charset "UTF-8";

body{
    background-color: cornsilk;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

img{
    max-width: 200px;
    max-height: 200px;
    width:auto;
    height: auto;
    align-self: auto;
    padding: 0%;
}

h1{
    color: black;
    background-color:white;
    text-align:right;
}
form{
    margin: 0 auto;
    width: 450px;
    padding: 3em;
    border: 2px solid rgb(255, 174, 0);
    border-radius: 1em;
    color:black;
    }   
form div + div{
    margin-top: 1em;
}
label{
    width: 200px;
    text-align: center;
    color: rgb(255, 0, 0);
    
}
input, textarea{
    font: 1em sans-serif;
    width: 450px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
  
}
input :focus, textarea:focus{
    border-color:antiquewhite;
}
textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button{
    padding-left: 90px;
}
button{    
    margin-left: .5em;
}

